BUG: Project names with spaces are percent-encoded

### Description

When creating a project with spaces in the name, the spaces are [percent-encoded](https://en.wikipedia.org/wiki/Percent-encoding). See example below:

![Image](https://github.com/user-attachments/assets/1de07268-b0bc-4d04-9ca8-9ee628ff3c74)

### Possible Solutions

- Do not allow spaces in project names (or other reserved characters, see [RFC 3986 Section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2) for full reserved character set). This would require a change to the project name textbox to prevent reserved characters from being entered as well as a backend change to validate that no reserved characters are in a project name before saving it to the database.
- Allow spaces and other reserved characters, but decode them before displaying to the user. When a project is opened, the project name at the top-left of the screen should be run through a percent decoder to get the original project name with spaces back. The URL will still need to contain the percent-encoded version though.